*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

.navbar{
    display: flex;
    justify-content:space-between;

    background-color:#7a7c7c;
    width: 100%;
    height: 5rem;
}

.searchcontainer2{
    display: none;  
}

 .sidebar{
    background-color: #8c9397;
    width:50%;
    height:100%;
    position:fixed;
    top:0;
    left:0;
    display: none;
    visibility: hidden;
    z-index:10;
    transform: translateX(-100%);
    transition: all 0.2s ease-in;
} 


@media screen and (max-width:751px) {
    #logo{
        display: none;
    }
}

@media screen and (min-width:750px) {
    .sidebar{
        position: relative;
        display: none; 
        /* visibility: visible; */
        transform: translateX(0);
        background-color: transparent;
        transition: none
    }

    .sidebar ul{
        display: flex;
        justify-content: space-around;
        position: relative;
        top:20px;
    }

    .sidebar ul li{
        margin-right:20px;
        color:white;
    }

    .sidebar ul li a{
        transition: all 0.2s ease-in-out;
    }

    .sidebar ul li a:hover{
        text-decoration: underline;
        /* background-color: blue;
        padding:2px;
        border-radius: 5px; */
      
    }

    .burger-remove{
        display: none;
    }
    .burger{
        display: none;
    }

    .searchcontainer{
        display: none;
        visibility: none;
    }

    .searchcontainer2{
        display: block;  
        margin-top: 50px;
        margin: auto;
  } 

    .navbar{
        display: flex;
        justify-content:end;
    }

    .profilCart{
        margin-left:15px
    }

    .inputSearch{
       background-color: #8c9397 ;
       color:white;
       font-size:20px
    }


    .containerProduct{
        box-shadow: none;
    }
} 


/* cart quantity */
 .cartquantity{ 
    /* /* display: block; */
    /* width:30px;
    height:30px;
    color:#fff;
    font-size: 20px;
    padding:2px;
    border-radius:100%;
    position:relative;
    bottom: 55px;
    left:60px;
    text-align: center; */ 
    position:relative;
    bottom:15px


} 


